.navbar{font-style: normal;}
.navbarNav{text-align: end;
}
body {font-family: 'Open Sans', ;}
.collapse{ justify-content: flex-end;}
.content{
    padding: 10px ;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;}
    img{ margin: 20px 30px 20px 0px;
    image-resolution: 500px auto
    ;}
    //https://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css
    
