.navbar{font-style: normal;
}
//add position:fixed
.navbarNav{text-align: end;
}
.navbar-inner {
    background:transparent;
}
body {font-family: 'Open Sans', ;}
.collapse{ justify-content: flex-end;}
.content{
    padding: 40px ;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    }
   .content img{ width: 400px;
    height: 400px;
    margin: 20px 30px 20px 0px;
    }
   
.space {
    background-image: url(https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }
  .white{color: white;}